<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ANTBridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ANTBridge.Properties.Settings>
            <setting name="NetworkKey" serializeAs="String">
                <value>uaUh+71yw0U=</value>
            </setting>
            <setting name="ChannelPeriod" serializeAs="String">
                <value>8182</value>
            </setting>
            <setting name="ChannelFrequency" serializeAs="String">
                <value>57</value>
            </setting>
            <setting name="MulticastAddress" serializeAs="String">
                <value>239.0.0.222</value>
            </setting>
            <setting name="MulticastPort" serializeAs="String">
                <value>2222</value>
            </setting>
        </ANTBridge.Properties.Settings>
    </userSettings>
</configuration>